/*This changes the background to a blue gradient using an external link*/
body {
  background-image: url("https://www.ci.camden.nj.us/wp-content/uploads/2019/03/blue-gradient-background.png");
}

/*The text is changed white to make it more visible with the background*/
h1 {
  text-align: center;
  color: white;
}

h2 {
  color: white;
}

h6 {
  color: white;
}

p {
  color: white;
}
