/*This changes the background to a blue background*/
body {
  width: 70%;
  background-color: #44B9D8;
}

/*The text is changed white to make it more visible with the background*/
h1 {
  text-align: center;
  color: white;
}

h2 {
  color: white;
}

h6 {
  color: white;
}

p {
  color: white;
}
