body {
  background-image: url("https://www.ci.camden.nj.us/wp-content/uploads/2019/03/blue-gradient-background.png");
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  color: white;
}

h6 {
  color: white;
}

p {
  color: white;
}
